@model MLMPortal.Models.PayoutReport
@{
    ViewBag.Title = "InvoiceReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
    label {
        margin-left: 15px;
    }
    .sty{
        font-weight: bold;
    font-size: 20px;
    }
</style>
<style>
    .card .table td, .card .table th {
        padding-right: 0px;
        padding-left: 0px;
    }

    .table td, .table th {
        padding: 0px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $("#default-datatable").DataTable({
            dom: 'Bfrtip',
            //pageLength: 5,
            lengthMenu: [[ 10, 20, 50, 100, 500, -1], [ 10, 20, 50, 100, 500, "All"]],
            buttons: [
               'pageLength',
           {
               extend: 'excelHtml5', footer: true
           },
           { extend: 'csvHtml5', footer: true },
           {
               extend: 'pdfHtml5', footer: true, orientation: 'landscape',

               pageSize: 'LEGAL',
               text: '<i class="fa fa-file-pdf-o"> PDF</i>',
               titleAttr: 'PDF'
           }
            ]
        });


    });
           function isNumber(evt) {
               evt = (evt) ? evt : window.event;
               var charCode = (evt.which) ? evt.which : evt.keyCode;
               if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                   return false;
               }
               return true;
           }
</script>
<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <h4 class="page-title">Invoice Report</h4>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i>Invoice Report</div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="lab control-label">Select Type</label>
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(m=>m.Action,new List<SelectListItem>() { new SelectListItem() {Text="Member",Value="2" }, new SelectListItem() { Text = "Franchise", Value = "3" }, new SelectListItem() { Text = "Dipo", Value = "4" } },"Select",new {@class="form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="lab control-label">Member Id</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.MemberId, new { @class = "form-control", @placeholder = "Enter Member Id" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="lab control-label">From Date</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @type = "date" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="lab control-label"> To Date</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @type = "date" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3" style="margin-top:30px">
                            @*<button type="submit" class="btn btn-primary shadow-primary px-5" id="btnSerach"><i class="icon-lock"></i> Search</button>*@
                            <input type="submit" class="btn btn-primary" value="Search" />
                        </div>
                        <div class="col-sm-6" style="margin-top:30px">
                            <label class="sty">@Model.msg</label>
                        </div>
                        
                    </div>
                    <div class="row">
                      
                    </div>
                </form>

                <div class="table-responsive" id="divmain">
                    <table id="default-datatable" class="table table-bordered">
                        <thead>
                            <tr style="color:#CCCCFF;background-color:#003399;font-weight:bold;">
                                <th scope="col">SNo.</th>
                                <th scope="col">Date</th>
                                <th scope="col">Invoice No.</th>
                                <th scope="col">Code</th>
                                <th scope="col">Party Name</th>
                                <th scope="col">Party GST</th>
                                <th scope="col">State Code</th>
                                <th scope="col">Taxable Value</th>
                                <th scope="col">SGST</th>
                                <th scope="col">CGST</th>
                                <th scope="col">IGST</th>
                                <th scope="col">Bill Amount</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.dt != null && Model.dt.Rows.Count > 0)
                            {
                                int i = 0;
                                foreach (DataRow item in Model.dt.Rows)
                                {
                                    i++;
                                    <tr>
                                        <td>@i </td>
                                        <td class="EntryId">@item["InvoiceDate1"]</td>
                                        <td class="CompanyId">@item["InvoiceNo"]</td>
                                        <td class="Invoice No">@item["AccountCode"]</td>
                                        <td class="InvoiceDate">@item["AccountName"]</td>
                                        <td class="Account Code">@item["GST"]</td>
                                        <td class="Account Name">@item["StateCode"]</td>
                                        <td class="Address">@item["TaxableAmount"]</td>
                                        <td class="PhoneNumber">@item["SGST"]</td>
                                        <td class="PhoneNumber">@item["CGST"]</td>
                                        <td class="PhoneNumber">@item["IGST"]</td>
                                        <td class="GrossAmount">@item["Amount"]</td>
                                        @if (Model.Action == "2")
                                        {
                                            <td><a href="../Home/SalesBill?InvoiceNo=@item["InvoiceNo"]" target="_blank">View Detail</a> </td>
                                        }
                                       @if (Model.Action == "3")
                                       {
                                        <td><a href="../STSalesBill.aspx?InvoiceNo=@item["InvoiceNo"]" target="_blank">View Detail</a> </td>
                                       }
                                        @if (Model.Action == "4")
                                        {
                                            <td><a href="../DemandList.aspx?InvoiceNo=@item["InvoiceNo"]" target="_blank">View Detail</a> </td>
                                        }

                                    </tr>
                                }
                            }
                        </tbody>



                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



