@model MLMPortal.Models.Registration
@{
    ViewBag.Title = "MemberReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/adminjs/ckeditor/ckeditor.js"></script>
<style>
    label {
        margin-left: 15px;
    }
</style>
<style>
    .card .table td, .card .table th {
        padding-right: 0px;
        padding-left: 0px;
    }

    .table td, .table th {
        padding: 0px;
    }
</style>
@if (TempData["flag"] != null)
{

    <script>
        $(document).ready(function () {
            //debugger;
            if ('@TempData["flag"]'=="1") {
                alert('@TempData["msg"].ToString()', window.location.href = "MemberReport");
            }
            else {
                alert("Server Not Response!");
            }

        });

</script>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#default-datatable").DataTable({
            dom: 'Bfrtip',
            //pageLength: 5,
            lengthMenu: [[ 10, 20, 50, 100, 500, -1], [ 10, 20, 50, 100, 500, "All"]],
            buttons: [
               'pageLength',
           {
               extend: 'excelHtml5', footer: true
           },
           { extend: 'csvHtml5', footer: true },
           {
               extend: 'pdfHtml5', footer: true, orientation: 'landscape',

               pageSize: 'LEGAL',
               text: '<i class="fa fa-file-pdf-o"> PDF</i>',
               titleAttr: 'PDF'
           }
            ]
        });



        //$("body").on("click", "#default-datatable .details22", function () {
        //    window.location.href = "../Admin/memberreport?Id=" + $(this).attr('id');
       // });
    });
           function isNumber(evt) {
               evt = (evt) ? evt : window.event;
               var charCode = (evt.which) ? evt.which : evt.keyCode;
               if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                   return false;
               }
               return true;
           }
</script>
<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <h4 class="page-title">Member Details</h4>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> Member Details    |     <a href="@Url.Action("MemberRegistration","Admin")">Add New Member</a>  </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="default-datatable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>SNo.</th>
                                <th>Member Id</th>
                                <th>Name</th>
                                <th>Mobile No</th>

                                <th  style="background: #015f6d">Recharge Wallet</th>
                                <th style="background: #ffc107">Payout Wallet</th>


                                <th>Sponsor Id.</th>
                                <th>Password</th>
                                <th>Transaction Password</th>
                                <th>Business Price</th>
                                <th>Registration Date</th>
                                <th>KYC Upload Status</th>
                                <th>KYC Status</th>
                                <th>Member Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.dt != null && Model.dt.Rows.Count > 0)
                            {
                                int i = 0;
                                foreach (DataRow item in Model.dt.Rows)
                                {//,
                                    i++;

                                    <tr>
                                        <td>@i </td>


                                        <td class="Member_Id">@item["Member_Id"]</td>
                                        <td class="Name">@item["Name"]</td>
                                        <td class="mobile">@item["mobile"]</td>

                                        <td class="mobile" style="background: #4de7ff">@item["MainWallet"]</td>
                                        <td class="mobile" style="background: #ffc107">@item["MoneyWallet"]</td>

                                        <td class="Intro_id">@item["Intro_id"]</td>
                                        <td class="psw">@item["psw"]</td>
                                        <td class="TransactPassword">@item["TransactPassword"]</td>
                                        <td class="PackPrice">@item["PackPrice"]</td>
                                        <td class="RegDate">@item["RegDate"]</td>

                                        @if (@item["KYCUpload"].ToString() == "KYC Uploaded")
                                        {
                                            <td class="KYCUpload">
                                                <span class="badge badge-success badge-pill">@item["KYCUpload"]</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="KYCUpload">
                                                <span class="badge badge-danger badge-pill">@item["KYCUpload"]</span>
                                            </td>
                                        }
                                        @*<td class="KYCStatus">@item["KYCStatus"]</td>*@
                                        @if (@item["KYCStatus"].ToString() == "Approved")
                                        {
                                            <td class="KYCStatus">
                                                <span class="badge badge-success badge-pill">@item["KYCStatus"]</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="KYCStatus">
                                                <span class="badge badge-danger badge-pill">@item["KYCStatus"]</span>
                                            </td>
                                        }
                                        @if (@item["Status"].ToString() == "Active")
                                        {
                                            <td class="Status">
                                                <span class="badge badge-success badge-pill">@item["Status"]</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="Status">
                                                <span class="badge badge-danger badge-pill">@item["Status"]</span>
                                            </td>
                                        }


                                    </tr>
                                }
                            }
                        </tbody>



                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

