@model MLMPortal.Models.Registration
@{
    ViewBag.Title = "MemberPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
    label {
        margin-left: 15px;
    }
</style>

@if (TempData["flag"] != null)
{

    <script>
        $(document).ready(function () {
            //debugger;
            if ('@TempData["flag"]'=="1") {
                alert('@TempData["msg"].ToString()', window.location.href = "MemberPassword");
            }
            else {
                alert("Server Not Response!");
            }

        });

</script>
}

<script>
           function isNumber(evt) {
               evt = (evt) ? evt : window.event;
               var charCode = (evt.which) ? evt.which : evt.keyCode;
               if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                   return false;
               }
               return true;
           }
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title"> CHANGE LOGIN PASSWORD</div>
                <hr>
                <form action="MemberPassword" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="lab control-label"> Member Id</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.MemberId, new { @class = "form-control", @placeholder = "Enter Member Id", @onchange = "GetSposerId(this)" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="lab control-label">Name</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly", @placeholder = " Name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="lab control-label"> New Password</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.Pass, new { @type = "password", @class = "form-control", @placeholder = "Enter Password" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-group">
                                <label class="lab control-label">Confirm Password</label>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.ConPass, new { @type = "password", @class = "form-control",  @maxLength = "20", @placeholder = "Enter Confirm Password" })
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="btn btn-primary shadow-primary px-5" onclick="return Validate()" value="Update" />
                              
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
<script>

        function Validate()
        {
            if (MemberId.value == '') {
                alert('Please Enter Member Id');
                MemberId.focus();

                return false;
            }
            if (Pass.value == '') {
                alert('Please Enter Password');
                Pass.focus();

                return false;
            }
           
            if (ConPass.value == '') {
                alert('Please Enter Confirm Password');
                ConPass.focus();

                return false;
            }
           


        }
        function GetSposerId(_this) {

            //debugger;

            var dataobject = {
                MemberId: _this.value
            };
            $.ajax({
                type: "POST",
                url: "/Admin/GetSposerId",
                data: dataobject,
                dataType: "json",
                success: function (r) {
                    if (r.Id != "0") {
                        document.getElementById('Name').value = r.SponserName;
                    }
                    else {
                        document.getElementById('MemberId').value = '';
                        document.getElementById('Name').value = '';
                        alert(r.msg);
                    }
                }
            });
        }
           
        


</script>