@model MLMPortal.Models.UserReport
@{
    ViewBag.Title = "PinGenerate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

<script>
    $(document).ready(function () {
        //$("#tblPinDetails").dataTable({ buttons: [
        //        'pageLength',
        //        //'copyHtml5',
        //       { extend: 'excelHtml5', footer: true },
        //    { extend: 'csvHtml5', footer: true },
        //    { extend: 'pdfHtml5', footer: true }]
        //});


        $('#tblPinDetails').DataTable();
    });
</script>

<script>
    function getDetails() {
        $("#showSpinner").show();
        $.ajax({
            url: "../PinManagement/PinGenerate",
            type: "GET",
            data: { 'MemberCode': $.trim($('#txtAssignedTo').val()), 'PinNumber': $.trim($('#txtPinNo').val()), 'fDate': $.trim($('#txtGenDate').val()) },
            datatype: "json",
            success: function (data1) {
                $('#tblPinDetails').DataTable().destroy();
                var htmlNew = data1;
                $('#divtable').html($(htmlNew).find('#tblPinDetails'));
                $("#showSpinner").hide();
                // $('#divtable').html($(htmlNew).find('#divcnt'));
                $('#tblPinDetails').DataTable();

            }
        });
    }
    function insertPinDetails() {
        debugger;
        if ($('#txtLoginID').val() == "") {
            alert("Please Enter Member Id");
            $('#txtLoginID').focus();
            return;
        }
        if ($('#txtNoOfPins').val() == "" || $('#txtNoOfPins').val() == "0") {
            alert("Please Enter Number Of Pins to be Generat");
            $('#txtNoOfPins').focus();
            return;
        }

        $("#showSpinner").show();
        $.ajax({
            url: "../PinManagement/GeneratePins",
            type: "GET",
            data: { 'MemberId': $.trim($('#txtLoginID').val()), 'PackageId': $.trim($('#txtPinAmt').val()), 'NoofPins': $.trim($('#txtNoOfPins').val()), 'Remarks': $.trim($('#txtRemark').val()) },
            datatype: "json",
            success: function (data1) {
                alert(data1);
                getDetails();
                $('#txtLoginID').val('');                
                $('#txtNoOfPins').val('');
                $('#txtRemark').val('');
                $("#showSpinner").hide();
            }
        });
    }

</script>


<style>
    .a1
    {
        padding-left:10px;
    }
</style>
<my-spinner>
    <div ng-show="showSpinner" class="nexo-overlay ng-hide" style="width: 100%; height: 100%; background: rgba(255, 255, 255, 0.9); z-index: 5000; position: absolute; top: 0px; left: 0px;display:none" id="showSpinner">
        <i class="fa fa-refresh fa-spin nexo-refresh-icon" style="color: rgb(0, 0, 0); font-size: 50px; position: absolute; top: 50%; left: 50%; margin-top: -25px; margin-left: -25px; width: 44px; height: 50px;">
        </i>
    </div>
</my-spinner>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4>PIN GENERATE BY ADMIN </h4>
            <div class="row">
                <div class="col-sm-12">
                    @if (TempData["flag"] != null)
                    {
                        <div class="row">
                            <div class="col-sm-12" style="background: azure;font-size: 16px;height: 49px;">
                                @if (TempData["flag"].ToString() == "1")
                                {
                                    <div class="alert alert-primary icons-alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="icofont icofont-close-line-circled"></i>
                                        </button>
                                        <p><strong>Success!</strong> @TempData["msg"]</p>
                                    </div>
                                }
                                @*@if (TempData["msg"].ToString() == "2" || TempData["msg"].ToString() == "3")
                                    {
                                        <div class="alert alert-info icons-alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <i class="icofont icofont-close-line-circled"></i>
                                            </button>
                                            <p><strong>Info!</strong> @TempData["status"].ToString()</p>
                                        </div>

                                    }*@
                                @if (TempData["flag"].ToString() == "0")
                                {
                                    <div class="alert alert-danger icons-alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="icofont icofont-close-line-circled"></i>
                                        </button>
                                        <p><strong>Error!</strong> @TempData["msg"].ToString()</p>
                                    </div>
                                }

                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="card-header-right">
            </div>
        </div>
        <div class="card-block">
         

                <div class="row">
                
                    <div class="col-sm-4">
                        <div class="form-group">

                            <label class="lab control-label a1"> Enter Member ID*</label>
                        
                            <div class="col-lg-12">
                                <input type="text" id="txtLoginID" class="form-control" name="txtLoginID" placeholder="Enter Member ID" />
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-4">
                            <label class="col-form-label">Select PIN Amt*</label>
                            @Html.DropDownList("txtPinAmt", (List<SelectListItem>)ViewBag.PinAmt, new { @id = "txtPinAmt", @class = "form-control", @placeholder = "Select Product" })
                        </div>
                        <div class="col-sm-2">
                            <label class="col-form-label">No Of Pins* </label>
                            <input type="number" id="txtNoOfPins" class="form-control" name="txtNoOfPins" placeholder="No Of Pins" />
                        </div>
                    </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <label class="col-form-label">Enter Remark</label>
                            <input type="text" id="txtRemark" class="form-control" name="txtRemark" placeholder="Enter Remark" />
                        </div>
                        <div class="col-sm-2" style="margin-top:29px">
                            <input type="submit" id="btnsave" style="display:none" />
                            <input type="submit" onclick="insertPinDetails()" value="Generate PINs" class="btn btn-success btn-group-lg form-control" />
                            <br/><br />
                        </div>
                    </div>
            


        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4>PIN Details </h4>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col-form-label">Assigned To</label>
                    <input type="text" id="txtAssignedTo" class="form-control" placeholder="Assigned To" />
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label">Pin Number</label>
                    <input type="text" id="txtPinNo" class="form-control" placeholder="Pin Number" />
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label">Gen. Date</label>
                    <input type="date" id="txtGenDate" class="form-control" />
                </div>
                <div class="col-sm-2" style="margin-top:33px">
                    <input type="submit" id="btnSearch" value="Search" class="btn btn-success" onclick="getDetails()" />
                </div>
            </div><hr />
            <div class="row">
                <div class="col-sm-12">
                    <div id="divtable" class="table-responsive">
                        <table id="tblPinDetails" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr.No #</th>
                                    <th>PIN</th>
                                    @*<th>PIN Type</th>*@
                                    <th>Status</th>
                                    <th>Generated By</th>
                                    <th>Assigned To</th>
                                    <th>Gen. Date</th>
                                    <th>Used Name</th>
                                    <th>Used Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Table1 != null && Model.Table1.Rows.Count > 0)
                                {
                                    var count = 1;
                                    foreach (System.Data.DataRow item in Model.Table1.Rows)
                                    {

                                <tr>
                                    <td>@(count++)</td>
                                    <td>@item["PinNumber"]</td>
                                    @*<td>@item[""]</td>*@
                                    <td>
                                        @if (item["Status"].ToString() == "Active")
                                                {
                                        <span class="badge badge-primary">@item["Status"]</span>
                                                }
                                                else if (item["Status"].ToString() == "Transfered")
                                                {
                                        <span class="badge badge-warning">@item["Status"]</span>
                                                }
                                                else
                                                {
                                        <span class="badge badge-danger">@item["Status"]</span>
                                                }

                                    </td>
                                    <td>@item["GeneratedBy"]</td>
                                    <td>@item["AssignTo"]</td>
                                    <td>@item["GenerateDate"]</td>
                                    <td>@item["PinActivateMemberName"]</td>
                                    <td>@item["ActivatedDate"]</td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    function GeneratePin() {
        
        if ($('#txtLoginID').val() == "") {
            alert("Please Enter Member Id");
            $('#txtLoginID').focus();
            return;
        }
        if ($('#txtNoOfPins').val() == "" || $('#txtNoOfPins').val() == "0") {
            alert("Please Enter Number Of Pins to be Generat");
            $('#txtNoOfPins').focus();
            return;
        }
        $('#btnsave').trigger('click');
    }


</script>