@model MLMPortal.Models.Report
@{
    ViewBag.Title = "LeaderShipIncomeReport";
    Layout = "~/Views/Shared/_Layoutapp.cshtml";
}
@using System.Data;
@{
    decimal TotaldirectIncome = 0;
}

<div class="mr50px">




    <div class="container-fluid bg-color p-0">
        <div class="container bottom-space">
            <div class="invest-box">
                <div class="wire-heading">

                    <div class="earn-box">
                        <span class="team-data" style="text-align: center;">
                            <i aria-hidden="true"></i>
                            Leader-Ship Income Report
                        </span>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="earn-box">
                    <div class="media border p-3" style="display:none">
                        <div class="form-inline" role="form">
                            <div class="business-text invitation-1" style="width:100% !important;">
                                <label for="exampleInputPassword2">User id : </label>

                                <input name="ctl00$ContentPlaceHolder1$txtUserid" type="text" id="ContentPlaceHolder1_txtUserid" class="form-control">
                            </div>
                            <div class="business-text invitation-1" style="width:100% !important;">
                                <label for="exampleInputPassword2">From Date : </label>
                                <input name="ctl00$ContentPlaceHolder1$txtFromDate" type="text" id="ContentPlaceHolder1_txtFromDate" class="form-control">

                            </div>
                            <div class="business-text invitation-1" style="width:100% !important;">
                                <label for="exampleInputPassword2">To Date : </label>
                                <input name="ctl00$ContentPlaceHolder1$txtToDate" type="text" id="ContentPlaceHolder1_txtToDate" class="form-control">

                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="submit" name="ctl00$ContentPlaceHolder1$btnSearch" value="Search" id="ContentPlaceHolder1_btnSearch" class="btn btn-primary">
                        </div>



                    </div>

                    <div id="ContentPlaceHolder1_PanelView">

                        <section class="panel">
                            <header class="panel-heading">

                                <span class="tools pull-right">
                                </span>
                            </header>
                            <div class="panel-body">
                                <section id="unseen" class="table-responsive">

                                    <div>
                                        <table cellspacing="0" cellpadding="4" rules="all" class="table table-bordered" id="ContentPlaceHolder1_GridView2" style="color:Black;border-color:#CC9966;border-width:1px;border-style:None;font-size:11px;border-collapse:collapse;">
                                            <thead>
                                                <tr style="color:#000000;font-family:Verdana;font-weight:bold;">
                                                    <th scope="col">SNo.</th>
                                                    <th scope="col">Member Id</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">From ID</th>
                                                    <th scope="col">Residual Income</th>
                                                    @*<th scope="col">Level</th>*@
                                                    @*<th scope="col">Date</th>*@
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.dt != null)
                                                {
                                                    int i = 0;
                                                    foreach (DataRow item in Model.dt.Rows)
                                                    {
                                                        TotaldirectIncome += Convert.ToDecimal(@item["directincome"]);
                                                        i++;
                                                        <tr>
                                                            <td>@i</td>
                                                            <td>@item["Member_Id"]</td>
                                                            <td>@item["Name"]</td>
                                                            <td>@item["UID"]</td>
                                                            <td>@item["directincome"]</td>
                                                            @*<td>@item["Levels"]</td>*@
                                                            @*<td>@item["DATE"]</td>*@
                                                            <td>
                                                                <a href="~/App/NoofResidual?PKID=@item["UID"]">
                                                                    <input type="button" name="btnSearch" value="View" id="btnSearch" class="btn btn-success ser">
                                                                </a>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><b>@TotaldirectIncome</b></td>
                                                    @*<td></td>*@
                                                    @*<td></td>*@
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </section>
                            </div>

                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Payout Statement</h4>
                </div>

                <div class="modal-body">
                    <div>

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

